(
    arena: (
        height: 100.0,
        width: 100.0,
    ),
    ball: (
        velocity: [75.0, 50.0],
        radius: 2.5,
    ),
    paddle: (
        height: 15.0,
        width: 2.5,
    )
)